<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <a (click)="redirctUrl('https://github.com/jewel-talukder')" title="https://github.com/jewel-talukder"><li><i class='bx bxl-github'></i> </li></a> 
        <a (click)="redirctUrl('https://www.facebook.com/rjs.jewel.talukder')" title="https://www.facebook.com/rjs.jewel.talukder"><li><i class='bx bxl-facebook-circle'></i></li></a> 
        <a (click)="redirctUrl('https://www.linkedin.com/in/jewel-talukder-86b597235/')" title="https://www.linkedin.com/in/jewel-talukder-86b597235/"><li> <i class='bx--bxl-linkedin'></i> </li></a>
        <a (click)="copyToClipboard()" title="https://www.linkedin.com/in/jewel-talukder-86b597235/"><li> <i class='bx bxl-gmail'></i> </li></a>
        
    </ul>

    <ul class="contact-info">
        <li>Mobile: 01871764561</li>
        <li>jeweltalukders53@gmail.com</li>
    </ul>
</div>