<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <a (click)="redirctUrl('')"><li><i class='bx bxl-gmail'></i> </li></a> 
        <a (click)="redirctUrl('https://www.facebook.com/rjs.jewel.talukder')"><li><i class='bx bxl-facebook-circle'></i></li></a> 
        <a (click)="redirctUrl('')"><li> <i class='bx bxl-instagram'></i> </li></a>
        
    </ul>

    <ul class="contact-info">
        <li>Mobile: 01931152122</li>
        <li>jeweltalukders53@gmail.com</li>
    </ul>
</div>